{% extends 'todos/base.html' %}
{% load i18n %}
{% block main %}
    <h4 class="text-center my-3 pb-3">{% trans 'todo list' %}</h4>

    <form method="post" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
        {% csrf_token %}
      <div class="col-12">
        <div class="form-outline">
          <input type="text" name="title" id="form1" class="form-control" />
          <label class="form-label" for="form1">{% trans 'enter new task'  %}</label>
        </div>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">ثبت</button>
      </div>
    </form>

    {% if form.title.errors %}
        {% for error in form.title.errors %}
            <i>{{ error }}</i>
        {% endfor %}
    {% endif %}

    {% if items %}
    <table class="table mb-4">
      <thead>
        <tr>
          <th scope="col">{% trans "num" %}</th>
          <th scope="col">{% trans "title" %}</th>
          <th scope="col">{% trans "status" %}</th>
        </tr>
      </thead>
      <tbody>
      {% endif %}
      {% for item in items %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
              {% if item.status == 1 %}
                  <td>
                      <del>{{ item.title }}</del>
                  </td>
                  <td>
                    <form class="d-inline" action="{% url 'todos:change_todo' item.unique_id %}">
                    <button type="submit" class="btn btn-success ms-1">{% trans "working on it" %}</button>
                  </form>

              {% else %}
                <td>
                  {{ item.title }}
                </td>
                <td>
                  <form class="d-inline" action="{% url 'todos:change_todo' item.unique_id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success ms-1">{% trans "completed" %}</button>
                  </form>
              {% endif %}

            <form class="d-inline" action="{% url 'todos:delete_todo' item.unique_id %}">
                {% csrf_token %}
              <button type="submit" class="btn btn-danger">{% trans "delete" %}</button>
            </form>
          </td>
        </tr>
        {% empty %}
        {% trans 'task list is empty. would you like to create your first task?' %}
      {% endfor %}
      </tbody>
    </table>
{% endblock %}